@import url(function.css);

.header {
    width: 100%;
    background-color: black;
    padding: 20px 190px;
    color: white;
}
.header > img {
    width: 80px;
}
.navbar {
    width: 100%;
    padding: 20px 190px;
    background-color: #fa1939;
}
.navbar > ul{
    display: flex;
}
ul > .menu{
    margin-left: 50px;
    
}
